<blockquote>
<div class="page-header">
<h1 align="center"; style="color:red">7 NODES BLOG</h1>
<p align="right"><% unless user_signed_in? %>
	<button type="button" class="btn btn-default navbar-btn">
		<%= link_to "Sign Up", new_user_registration_path %>
	</button>&nbsp;&nbsp;

	<button type="button" class="btn btn-default navbar-btn">
		<%= link_to "Login", new_user_session_path %>
	</button>
<% end %></p>
</div>

<% @approved_articles.each do |article| %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to article.title, article %></h3>
  </div>
  <div class="panel-body">
    <%= article.text %>
  </div>
</div>
<% end %>

<br><br><br>

</blockquote>